.root {

-fx-background-color: #303030;

}



.button {

-fx-text-fill: white;

-fx-font-family: "Monotype Corsiva", serif;

-fx-font-size: 20px;

-fx-background-color: linear-gradient(#262626, #68B800);

-fx-background-radius: 10px; 

-fx-border-style: hidden hidden solid hidden; 

-fx-border-width: 1px;

-fx-border-radius: 10px;

}



.button:hover {
 
-fx-background-color: linear-gradient(#68B800, #262626);
 
}



#contact {

-fx-font-size: 22px;

-fx-border-style: hidden hidden solid hidden;

-fx-border-width: 1.5px;

-fx-border-color: #262626;

-fx-font-family: "Monotype Corsiva", serif;

}



#blackBorder {

-fx-border-color: #000000;

-fx-border-width: 1px;

}



#line {

-fx-border-color: #000000;

-fx-border-width: 1px;

-fx-background-color: #f7f7f7;

-fx-font-family: "Georgia", fantasy;

-fx-font-size: 16px;

}



#label {

-fx-font-size: 20px;
   
-fx-font-family: "Georgia", serif;
   
-fx-fill: white;
   
-fx-effect: innershadow(three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );

}